@media screen and (min-width: 18.750em)
{
 body{
	  font-family:Helvetica, Arial, sans-serif;
/*	  background:url(../images/bg.jpg) no-repeat center fixed;*/
 }
 .wrap{
	width:320px;
	margin:0 auto;	 transition:all .2s linear;
	-moz-transition:all .2s linear;/* firefox */
	-webkit-transition:all .2s linear; /* safari and chrome */
	-o-transition:all .2s linear; /* opera */
	-ms-transition:all .2s linear;
	background:#fff;

 }.header {
    width:400px;
    padding:0px;
}
.header.scroll-to-fixed-fixed {
    color: red;
}
}